#sketch-box {
    width: 640px;
    height: 640px;
    border-style: solid;
    border-width: 1px;
    line-height: 0;
}

.sketch-square {
    background-color: white;
    display: inline-block;
}

.filled {
    background-color: black;
}
